#wrapper {
    overflow: hidden;
   
   
    
}

body {
    color: #000000;
    // letter-spacing: 0.04em;
    
    
   
}


.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    max-width: 1230px;
    
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}




